Node_Red_flows.json
[{"id":"e70a3d3.910f6c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"147bfee7.5baeb1","type":"ui_text","z":"e70a3d3.910f6c","group":"1673aed6.e79201","order":13,"width":7,"height":1,"name":"","label":"Predication Power 72 Hours","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":140,"wires":[]},{"id":"3e540df6.a163c2","type":"debug","z":"e70a3d3.910f6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":100,"wires":[]},{"id":"b2209981.3806e8","type":"ui_form","z":"e70a3d3.910f6c","name":"","label":"","group":"1673aed6.e79201","order":1,"width":7,"height":4,"options":[{"label":"Wind Speed","value":"sp","type":"number","required":true,"rows":null},{"label":"Wind Direction","value":"de","type":"number","required":true,"rows":null},{"label":"Theoretical Power","value":"eg","type":"number","required":true,"rows":null}],"formValue":{"sp":"","de":"","eg":""},"payload":"","submit":"submit","cancel":"","topic":"","x":130,"y":320,"wires":[["4967918a.dd204"]],"icon":"node-red/cog.svg"},{"id":"4967918a.dd204","type":"function","z":"e70a3d3.910f6c","name":"Pre Token","func":"global.set(\"sp\",msg.payload.sp)\nglobal.set(\"de\",msg.payload.de)\nglobal.set(\"eg\",msg.payload.eg)\nvar apikey = \"6q9HbPx97StfKT7iQafYhSHs8CXvH_1rESEGW0fm6bj1\";\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":320,"wires":[["4c5a796e.edbf28"]]},{"id":"4c5a796e.edbf28","type":"http request","z":"e70a3d3.910f6c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":280,"wires":[["e6ebeb58.232298","6b4b008.0c002"]]},{"id":"6b4b008.0c002","type":"function","z":"e70a3d3.910f6c","name":"Pre Predication","func":"\nvar sp = global.get('sp')\nvar eg = global.get('eg')\nvar de = global.get('de')\nvar token = msg.payload.access_token\nvar instance_id = \"308bef1e-fdb9-4a0a-ac82-c025a6595d09\";\nmsg.headers = {'Content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"ML-instance-ID\":instance_id}\nmsg.payload = {\"fields\":[\"fd\",\"de\",\"ped\"],\"values\":[[sp,eg,de]]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":200,"wires":[["4332d947.98b138"]]},{"id":"e6ebeb58.232298","type":"debug","z":"e70a3d3.910f6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":380,"wires":[]},{"id":"4332d947.98b138","type":"http request","z":"e70a3d3.910f6c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/308bef1e-fdb9-4a0a-ac82-c025a6595d09/deployments/9371aa12-a66f-4dfc-aa8c-5049a38b1c0d/online","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":260,"wires":[["b14d3629.776058","418b0b68.a7af24"]]},{"id":"b14d3629.776058","type":"debug","z":"e70a3d3.910f6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":340,"wires":[]},{"id":"418b0b68.a7af24","type":"function","z":"e70a3d3.910f6c","name":"","func":"msg.payload = 72*6*msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":140,"wires":[["147bfee7.5baeb1","3e540df6.a163c2","f0907156.272cf"]]},{"id":"8042a0e1.89891","type":"http request","z":"e70a3d3.910f6c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":700,"y":460,"wires":[[]]},{"id":"4fe9b71c.f10ef8","type":"inject","z":"e70a3d3.910f6c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":620,"wires":[["3ec1199.8ad72e6"]]},{"id":"3ec1199.8ad72e6","type":"http request","z":"e70a3d3.910f6c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=New%20Delhi,%20IN&appid=a37991d0ea20c0c2bc47b8a78eb8caf9","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":700,"wires":[["36b03ef6.34cca2","8401f55c.678008","476ed1b9.0f7f9"]]},{"id":"36b03ef6.34cca2","type":"function","z":"e70a3d3.910f6c","name":"Current Temperature","func":"msg.payload=msg.payload.main.temp;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":680,"wires":[["1f441e55.111312"]]},{"id":"1f441e55.111312","type":"ui_gauge","z":"e70a3d3.910f6c","name":"","group":"1673aed6.e79201","order":15,"width":4,"height":4,"gtype":"wave","title":"Temperature","label":"F","format":"{{value}}","min":0,"max":"500","colors":["#00ffff","#21bcc5","#4981b8"],"seg1":"","seg2":"","x":715,"y":680,"wires":[],"l":false},{"id":"8401f55c.678008","type":"function","z":"e70a3d3.910f6c","name":"Current humidity","func":"msg.payload=msg.payload.main.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":740,"wires":[["808e3a3a.69ad38"]]},{"id":"476ed1b9.0f7f9","type":"function","z":"e70a3d3.910f6c","name":"Wind Speed","func":"msg.payload=msg.payload.wind.speed;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":800,"wires":[["db15b831.1ae528"]]},{"id":"db15b831.1ae528","type":"ui_gauge","z":"e70a3d3.910f6c","name":"","group":"1673aed6.e79201","order":5,"width":4,"height":5,"gtype":"gage","title":"Wind Speed","label":"m/s","format":"{{value}}","min":0,"max":10,"colors":["#8000ff","#400040","#8000ff"],"seg1":"","seg2":"","x":735,"y":780,"wires":[],"l":false},{"id":"808e3a3a.69ad38","type":"ui_gauge","z":"e70a3d3.910f6c","name":"","group":"1673aed6.e79201","order":17,"width":4,"height":4,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":755,"y":720,"wires":[],"l":false},{"id":"f0907156.272cf","type":"ui_gauge","z":"e70a3d3.910f6c","name":"","group":"1673aed6.e79201","order":3,"width":4,"height":4,"gtype":"wave","title":"Predicated Power 72 Hours","label":" Kwh","format":"{{value}}","min":0,"max":"5000","colors":["#00ffff","#21bcc5","#4981b8"],"seg1":"","seg2":"","x":1115,"y":240,"wires":[],"l":false},{"id":"1673aed6.e79201","type":"ui_group","z":"","name":"Enter Parameter","tab":"713076d2.f5bf28","order":1,"disp":true,"width":"17","collapse":false},{"id":"713076d2.f5bf28","type":"ui_tab","z":"","name":"Wind Predication ","icon":"dashboard","disabled":false,"hidden":false}]